<app-nav></app-nav>

	<div class="container" style="margin: 10%;">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<img src="../assets/images/image1.jpg" height="70%" />
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">Chaise Lounge Living</h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description">Aarsun brings to you handmade Wooden Chaise Lounge. The Wooden Couch looks amazing with the natural wood polish and the white-colored upholstery.</p>
						<h4 class="price">current price: <span>&#8377; 180</span></h4>
						<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
						<h5 class="sizes">sizes:
							<span class="size" data-toggle="tooltip" title="small">medium</span>
						</h5>
						<h5 class="colors">colors:
							<span class="color blue">Grey</span>
						</h5>
						<div class="action">
							<button class="add-to-cart btn btn-primary" type="button" routerLink="/addToCart">add to cart</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
