<app-nav></app-nav>
<div class="container py-5">  
    <div class="card" style="width: 600px; margin: auto;">  
      <div class="card-header bg-primary text-white">  
        <h4 class="text-uppercase text-center">Product Details</h4>  
      </div>  
      <div class="card-body">  
        <div class="row">  
          <div class="col-sm-6 col-md-6 col-xs-12">  
            <div class="form-group">  
              <label>Product Name:</label>  
              <div class="input-group" >  
                <div class="input-group-prepend" >  
                    
                </div>  
                <input id="productName" type="text" class="form-control" style="border-radius: 8px;" disabled>  
              </div>  
            </div>  
          </div>  
          
          <div class="col-sm-6 col-md-6 col-xs-12">  
            <div class="form-group">  
              <label>Category:</label>  
              <div class="input-group">  
                <div class="input-group-prepend">  
                  </div>  
                <input id="productCategory" type="text" class="form-control" style="border-radius: 8px;" disabled>  
              </div>  
            </div>  
          </div>  
        </div>  
        <div class="row">  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Quantity:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                  </div>  
                  <input id="productQuantity" type="number" class="form-control"style="border-radius: 8px;">  
                </div>  
              </div>  
            </div>  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Material:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                  </div>  
                  <input id="productMaterial" type="text" class="form-control" style="border-radius: 8px;">  
                </div>  
              </div>  
            </div>  
          </div>  
          <div class="row">  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Price:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                    </div>  
                    <input id="productPrice" type="number" class="form-control" style="border-radius: 8px;">  
                  </div>  
                </div>  
              </div>  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Size:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                    </div>  
                    <input id="productSize" type="text" class="form-control" style="border-radius: 8px;">  
                  </div>  
                </div>  
              </div>  
            </div>
            <div class="row" style="column-span: 2;">  
              <div class="col-sm-12 col-md-12 col-xs-6" >  
                  <div class="form-group">  
                    <label>Description:</label>  
                    <div class="input-group">  
                      <div class="input-group-prepend">  
                      </div>  
                      <textarea id="w3review" name="w3review" rows="3" class="form-control" style="border-radius: 8px;" ></textarea>
                    </div>  
              </div> 
              </div>  
        </div>  
        <button type="submit" class="btn btn-outline-primary rounded-10 " >Update Product</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-outline-primary rounded-10 " >Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>  
    </div>  
  </div> 
