<app-nav-admin></app-nav-admin>
<div class="container py-5">  
    <div class="card" style="width: 600px; margin: auto;">  
      <div class="card-header bg-primary text-white">  
        <h4 class="text-uppercase text-center">Product Details</h4>  
      </div>  
      <div class="card-body">  
        <form [formGroup]="productForm"  autocomplete="off" (ngSubmit)="addProduct()">
          <div class="row">  
          <div class="col-sm-6 col-md-6 col-xs-12">  
            <div class="form-group">  
              <label>Product Name:</label>  
              <div class="input-group" >  
                <div class="input-group-prepend" >  
                    
                </div>  
                <input id="prod_name" type="text" class="form-control" style="border-radius: 8px;" formControlName="prod_name" name="prod_name">  
              </div>  
            </div>  
          </div>  
          <div class="col-sm-6 col-md-6 col-xs-12">  
            <div class="form-group">  
              <label>Category:</label>  
              <div class="input-group">  
                <div class="input-group-prepend">  
                    
                </div>  
                <input id="prod_category" type="text" class="form-control" style="border-radius: 8px;" formControlName="prod_category" name="prod_category">  
              </div>  
            </div>  
          </div>  
        </div>  
        <div class="row">  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Quantity:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                      
                  </div>  
                  <input id="prod_quantity" type="number" class="form-control"style="border-radius: 8px;" formControlName="prod_quantity" name="prod_quantity">  
                </div>  
              </div>  
            </div>  
            <div class="col-sm-6 col-md-6 col-xs-12">  
              <div class="form-group">  
                <label>Price:</label>  
                <div class="input-group">  
                  <div class="input-group-prepend">  
                      
                  </div>  
                  <input id="prod_price" type="number" class="form-control" style="border-radius: 8px;" formControlName="prod_price" name="prod_price">  
                </div>  
              </div>  
            </div>    
        </div>  
        <div class="row">  
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Size:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                      
                    </div>  
                    <input id="prod_size" type="text" class="form-control" style="border-radius: 8px;" formControlName="prod_size" name="prod_size">  
                  </div>  
                </div>  
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">  
                <div class="form-group">  
                  <label>Upload Photo:</label>  
                  <div class="input-group">  
                    <div class="input-group-prepend">  
                     
                    </div>  
                    <input id="prod_photo" type="file" class="form-control" formControlName="prod_photo" name="prod_photo" (change)="onFileSelect($event)">  
                  </div>  
                </div>  
              </div>  
        </div>
        <div class="row" style="column-span: 2;">  
              <div class="col-sm-12 col-md-12 col-xs-6" >  
                  <div class="form-group">  
                    <label>Description:</label>  
                    <div class="input-group">  
                      <div class="input-group-prepend">  
                          
                      </div>  
                      <textarea id="prod_desc"  rows="3" class="form-control" style="border-radius: 8px;" formControlName="prod_desc" name="prod_desc"></textarea>
                    </div>  
              </div> 
              </div>  
        </div>  
        <button type="submit" class="btn btn-outline-primary rounded-10 " >Add Product</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" class="btn btn-outline-primary rounded-10 " >Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;
      </form>      
      </div>  
    </div>  
  </div> 
