<!-- <div class="container"></div>
    <div class="row" >
        <div>
            <app-slider></app-slider>
        </div>
        <br/>
        <div class="col-md-3">
            <app-filter></app-filter>
        </div>
        <div class="col-md-8" >
                <app-product-list ></app-product-list>          

            
        </div> 
    </div> -->



<app-nav></app-nav>

<br><br>
<!-- Page Content -->


<div class="container">
  <!-- <app-admin></app-admin> -->
  <div class="row" >
    <div>
        <app-slider></app-slider>
    </div>
    <br/>
    <div class="col-md-3">
        <app-filter></app-filter>
    </div>
    <div class="col-md-8" >
            <app-product-list ></app-product-list>          

        
    </div>     
</div>
  <!-- <app-footer></app-footer> -->
 

