
<app-nav-admin></app-nav-admin>
<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h3 class="my-0 font-weight-normal"><b>Product</b></h3>
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">Total Product: 200</h4>
          
          <button type="button" class="btn btn-md btn-block btn-primary" routerLink="/getProductDetails">Show Details</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><b>Customer</b></h4>
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">Total Customer:1000 </h4>
          
          <button type="button" class="btn btn-md btn-block btn-primary" routerLink="/getCustomerDetails">Show Details</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal"><b>Order</b></h4>
        </div>
        <div class="card-body">
          <h4 class="card-title pricing-card-title">Pendding Order:25 </h4>
          
          <button type="button" class="btn btn-md btn-block btn-primary">Show Details</button>
        </div>
      </div>
    </div>
  