<form>
<div class="container-fluid mt-70" >
    <div class="row d-flex justify-content-center" >
        <div class="col">
            <div class="card">
                <article class="filter-group">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Categories </h6>
                        </a> </header>
                    <div class="filter-content" id="collapse_aside1" >
                        <div class="card-body " style="padding-top: 0%;">
                            <ul class="list-menu">
                                <li><a href="#" data-abc="true">Kitchen </a></li>
                                <li><a href="#" data-abc="true">Drawing room</a></li>
                                <li><a href="#" data-abc="true">Bed Room</a></li>
                                <li><a href="#" data-abc="true">Office </a></li>
                                <li><a href="#" data-abc="true">All</a></li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Price </h6>
                        </a> </header>
                    <div class="filter-content " id="collapse_aside2" >
                        <div class="card-body" style="padding-top: 0%;"> <input type="range" class="custom-range" min="0" max="100" name="">
                            <div class="form-row">
                                <div class="form-group col-md-6"> <label>Min</label> <input class="form-control" placeholder="0" type="number"> </div>
                                <div class="form-group text-right col-md-6"> <label>Max</label> <input class="form-control" placeholder="1,0000" type="number"> </div>
                            </div> <a href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five" data-abc="true">Apply Now</a>
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside3" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Size </h6>
                        </a> </header>
                    <div class="filter-content " id="collapse_aside3" >
                        <div class="card-body" style="padding-top: 0%;"> 
                            <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> Small </span> </label> &nbsp;&nbsp;
                            <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> Medium </span> </label> &nbsp;&nbsp;
                            <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> Large </span> </label> &nbsp;&nbsp;
                            
                        </div>
                    </div>
                </article>
                <article class="filter-group">
                    <header class="card-header"> <a href="#" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" class="collapsed" aria-expanded="true"> <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Rating </h6>
                        </a> </header>
                    <div class="filter-content " id="collapse_aside4" >
                        <div class="card-body" style="padding-top: 0%;">  
                            <input type="checkbox" checked="" class="">&nbsp;&nbsp;&nbsp;Better<br> 
                            <input type="checkbox" checked="" class="">&nbsp;&nbsp;&nbsp;Best <br>
                            <input type="checkbox" checked="" class="">&nbsp;&nbsp;&nbsp;good<br>
                            <input type="checkbox" checked="" class="">&nbsp;&nbsp;&nbsp;Not good<br>
                    </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
</form>