<style>
    li > a:hover{
     color: black;
     
     background-color:red;
   }
   .list-group-item:first-child {
        border-top-left-radius: 0; 
        border-top-right-radius: 0; 
   }
   .list-group-item:last-child {
        border-bottom-left-radius: 0; 
        border-bottom-right-radius: 0; 
   }
   </style>
   
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <app-header></app-header>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <h5><li class="nav-item active">
          <a class="nav-link" routerLink="/product">Home<span class="sr-only">(current)</span></a>
        </li></h5>
        <h5><li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Product
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
              <a class="dropdown-item" routerLink="/addProduct">Add Product</a>
              <a class="dropdown-item" >Edit Product</a>
              <a class="dropdown-item" routerLink="">Delete Product</a>
            </div>
            
        </li></h5>
        <h5><li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Customer
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/updateCustomer">Add Customer</a>
              <a class="dropdown-item" routerLink="/updateCustomer">Edit Customer</a>
              <a class="dropdown-item" href="#">Delete Customer</a>
            </div>
        </li></h5>
        <h5><li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Order
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Order Status</a>
            <a class="dropdown-item" href="#">Order History</a>
          </div>
        </li></h5>
      </ul>
    </div>
    <a class="btn  btn-outline-primary" style="float:right;" role="button" routerLink="/product"><h5>Logout</h5></a>
  </nav>